     
    /*Generales*/

        body{
            background-color:rgb(255, 251, 231);
            background-repeat: no-repeat;
            background-size: 100%;
            margin: 0;
            padding: 0;
        }

        ol{
            list-style-type:georgian ;
        }

        form{
            text-align: center;
        }

    /*Menu*/

        .PrimeraParte{
            width: 100%;
            background-color: rgb(139, 17, 84);
            height: 180px;
            margin-bottom: 0px;
        }

        .PrimeraParteParaElResto{
            width: 100%;
            background-color: rgb(139, 17, 84);
            height: 140,5px;
            margin-bottom: 0px;
        }

        li{
            display: inline-block;
            list-style-type:upper-roman;
            color: slateblue;
        }
        
        ul ul{
            display:none;
            position:absolute;
        }

        ul ul li{
            display:block;
            background-color:black;
        }

        ul li:hover ul{
            display:block;
            background-color:black;   
        }

        li:hover{
            background-color:rgb(210, 255, 246);
        }

        a{
            color: rgb(214, 154, 187);
            font-size: 15px;
            text-decoration: none;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        }

        .EstiloUl{
            display:flex;
            justify-content: flex-end;
            align-items: center;
        }

        .EstiloListas{
            margin-left: 0px;
            margin-right: 15px;
        }

        .EstiloTitulo{
            text-align: center;
            letter-spacing: 0px;
            font-family: 'Josefin Sans', sans-serif;
            margin: 0;
            padding: 0;
            color: rgb(255, 255, 255);
            font-size:50px;
        }
        
        .Letrasx{
            text-decoration:darkgray;
            font-size: 18px;
            font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            color:rgb(50, 175, 181);
            text-align: center;
            margin: 0;
            padding: 0;
            margin-top: 0px;
            margin-bottom: 20px;
        }

    /* Index, Página Principal */

        /*Grid*/

        .EstiloGrillaPrincipal{
            display:grid;
            grid-template-columns: 35vw auto;
            grid-template-rows: 7vh 40vh 10vh 15vh 10vh;
            margin-top: 0px;
            margin-left: 0px;
            margin-bottom: 0px;
            overflow: hidden;
            grid-template-areas: 
                            "EstiloHeaderH        EstiloHeaderH"
                            "EstiloAticleH        EstiloAsideH"
                            "EstiloInvitaciónH    EstiloInvitaciónH"
                            "EstiloPieH           EstiloPieH"
                            "EstiloFooterH        EstiloFooterH"
        }

        .EstiloHeaderH{
            background-color:white;
            grid-area: EstiloHeaderH;
        }

        .EstiloAticleH{
            grid-area: EstiloAticleH;
            text-align: center;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .EstiloAsideH{
            background-color:rgb(255, 251, 231);
            grid-area: EstiloAsideH;
        }

        .EstiloInvitaciónH{
            grid-area: EstiloInvitaciónH;
            text-align: center;
            margin-right: 20px;
            margin-left: 10px;
        }

        .EstiloPieH{
            background-color: rgba(61, 41, 17, 0.61);
            grid-area: EstiloPieH;
            text-align: center;
            display: flex;
            align-items: center;
            justify-content: center;
            overflow: hidden;
            
        }

        .EstiloFooterH{
            grid-area: EstiloFooterH;
            margin-top:10px;      
        }

            @media only screen and (max-width: 785px) {
                .EstiloGrillaPrincipal{
                display:grid;
                grid-template-columns: auto;
                grid-template-rows: 9vh 40vh 30vh 13vh 10vh 10vh;
                margin-top: 0px;
                margin-left: 0px;
                margin-bottom: 0px;
                grid-template-areas: 
                                "EstiloHeaderH"        
                                "EstiloAticleH"        
                                "EstiloAsideH"
                                "EstiloInvitaciónH"
                                "EstiloPieH"
                                "EstiloFooterH"
                }
            }

    .HRespecifico{
        margin-top: 0px;
        margin-bottom: 0px;
    }

    .EstiloH3{
        font-size: 20px;
        text-align: center;
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        margin-top: 10px;
        margin-bottom: 10px;
        margin-right: 35px;
    }

    .LetrasAside{
        margin-top: 45px;
        margin-left: 20px;
        margin-right: 40px;
    }

    .EstiloNI{
        text-align: center;
        font: size 15px;
        font-family:'Josefin Sans', sans-serif;
        color:rgb(0, 0, 0);
        letter-spacing: 0px;
    }

    .Letrasx22{
        text-decoration:darkgray;
        font-size: 20px;
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        color:rgb(50, 175, 181);
        text-align: center;
    }

        /*Animación*/

        .LetrasAnimar{
            font-size: 20px;
            font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            text-align: center;
            margin: 0;
            padding: 0;
            margin-top:15px;
            color:rgb(139, 17, 84);
            animation-name: LetrasAnimar;
            animation-duration: 2s;
            animation-iteration-count:infinite;
        }
        
        @keyframes LetrasAnimar{

            0%{
                color:rgb(50, 175, 181);
            }

            50%{
                color:rgb(214, 201, 223);
            }

            100%{
                color:rgb(139, 17, 84);
            }
        }

    .EstiloNI2{
        text-align: center;
        font-size: 15px;
        font-family:'Josefin Sans', sans-serif;
        color:rgb(0, 0, 0);
        letter-spacing: 0px;
        background: rgb(139,17,84);
        background: linear-gradient(90deg, rgba(139,17,84,1) 7%, rgba(214,201,223,1) 35%, rgba(255,255,255,1) 64%, rgba(50,175,181,1) 100%);    
    }

    .Letrasx2{
        text-decoration:darkgray;
        font-size: 20px;
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        color:rgb(50, 175, 181);
        text-align: center;
        margin: 10px;
        padding: 20px;
        margin-bottom: 20px;
        margin-top: 50px;
    }

    /* Segunda Página, servicios */

    .ParteConMargen{
        margin-left: 10px;
        margin-right: 10px;
    }

    .PromociónServicios{
        font-family: 'Josefin Sans', sans-serif;
        text-align: center;
        margin-bottom: 2px;
    }

    .Tabla{
        display:flex;
        justify-content:center;
        flex-direction: column;
        width: auto;
        height: auto;
    }

    .HRespecifico2{
        margin-top: 30px;
        margin-bottom: 10px;
    }

    .EstiloVideo{
        height: 301px;
        display:flex;
        justify-content:center;
        align-items: center;
        margin-top: 50px;
        margin-bottom: 20px;
    }

        /*Estilo de la tabla (reutilizable)*/

            table {
                border: 3px solid;
                height: 100%;
                background-color: rgb(214, 201, 223);
            }

            th {
                text-decoration-color: aliceblue;
                background-color:#69ced3;
                border: 2px solid;
            }

            tr, td {
                border: 2px solid;
            }

    /* Tercera Página, galería */

    .EstiloFotoss{
        font-family:'Josefin Sans', sans-serif;
        text-align: center;
        text-decoration: azure;
        margin-bottom: 0px;
        margin-top:10px;
        font-size: 30px;
    }

    .EstiloCarousel{
        width: 55vw;
        display:flex;
        justify-content:center;
        align-items: center;
        margin-bottom: 10px;
        margin-top:20px
    }

    .Centralización{
        display:flex;
        justify-content:center;
        align-items: center;
        margin-top: 35px;
      }

        /*Animación*/
        .DivX{
            height: 85px;
            width: 250px;
            text-align: center;
            background-color: rgb(214, 201, 223);
            transition:height 2s, width 2s;
            overflow: hidden;
        }

        .DivX:hover{
            background-color: rgb(139, 17, 84);
            height: 160px;
            width: 500px;
        }

        .DivX:hover .Letrasx3{
            font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            color:rgb(50, 175, 181);
            margin-top: 10px;
            overflow: hidden;
            font-size: 30px;
        }

        .Letrasx3{
            font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            color:rgb(50, 175, 181);
            margin-top: 10px;
            overflow: hidden;
            font-size: 18px;
        } 

    /*Cuarta Página, comentarios */

    .SeccionComentarios{
        display:grid;
        grid-template-columns: 30vw auto;
        grid-template-rows: 5vh 30vh 5vh 30vh 5vh 30vh;
        margin-top: 20px;
        margin-left: 35px;
        margin-right: 35px;
        margin-bottom: 0px;
        grid-template-areas: 
                        "Nombre1        Espacio1"
                        "Imagen1        Comentario1"
                        "Nombre2        Espacio2"
                        "Imagen2        Comentario2"
                        "Nombre3        Espacio3"
                        "Imagen3        Comentario3"
    }

    /*Primer Comentario*/
    .Nombre1{
        grid-area: Nombre1;
      }

    .Espacio1{
        grid-area: Espacio1;
        text-align: center;
        justify-items: center;
    }

    .Imagen1{
        margin-top: 0px;
        grid-area: Imagen1;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 10px;
    }

    .Comentario1{
        grid-area: Comentario1;
        display: flex;
        align-items: center;
        justify-content: center;
    }


    /*Segundo Comentario*/
    .Nombre2{
        grid-area: Nombre2;
        vertical-align: text-bottom;
        margin-bottom: 0px;
      }

    .Espacio2{
        grid-area: Espacio2;
        text-align: center;
        justify-items: center;
    }

    .Imagen2{
        margin-top: 0px;
        grid-area: Imagen2;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 10px;
    }

    .Comentario2{
        grid-area: Comentario2;
        display: flex;
        align-items: center;
        justify-content: center;
    }


    /*Tercer Comentario*/
    .Nombre3{
        grid-area: Nombre3;
      }

    .Espacio3{
        grid-area: Espacio3;
        text-align: center;
        justify-items: center;
    }

    .Imagen3{
        margin-top: 0px;
        grid-area: Imagen3;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 20px;
    }

    .Comentario3{
        grid-area: Comentario3;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    @media only screen and (max-width: 885px) {
            .SeccionComentarios{
            display:grid;
            grid-template-columns: 100%;
            grid-template-rows: 5vh 30vh 15vh 5vh 30vh 15vh 5vh 30vh 15vh;
            margin-top: 10px;
            margin-left: 10px;
            margin-right: 10px;
            margin-bottom: 0px;
            grid-template-areas: 
                        "Nombre1"
                        "Imagen1"      
                        "Comentario1"
                        "Nombre2"
                        "Imagen2"      
                        "Comentario2"
                        "Nombre3"
                        "Imagen3"      
                        "Comentario3"
            }
        }

    /* Quinta Página, información*/

    .EstiloCasiC{
        font-family:'Josefin Sans', sans-serif ;
        color:rgb(50, 175, 181);
        font-size:25px;
        text-align: center;
        margin-top: 20px;
        margin-left: 20px;
        margin-bottom:10px;
    }

    .EstiloFieldset{
        border: 10px;
        border-color: solid black;
    }

    .EstiloPedirInfo{
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        text-align: center;
        color:rgb(139, 17, 84);
        font-size: 20px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
        /*Animación del campo completar*/
            .InputInfo{
                width: 150px;
                transition: width 1s;
            }

            .InputInfo:focus{
                width: 300px;
                background-color: rgb(50, 175, 181);
            }

            .EstiloLegenda{
                font-family:'Josefin Sans', sans-serif
            }

            .EstiloLegenda2{
                font-family:'Josefin Sans', sans-serif;
                margin-top: 10px;
            }

        #BotónEnviar{
            margin-top: 10px;
            background-color: rgb(50, 175, 181);
            border-color: black;
        }

    /* SubMenú1, Galería Perros */

    /*Grid*/
    .EstiloGrillaUno{
        display:grid;
        grid-template-columns: 30vw auto 30vw;
        grid-template-rows: 30vw 30vw;
        margin-top: 20px;
        margin-bottom: 20px;
        overflow: hidden;
        grid-template-areas: 
                        "EstiloBanner EstiloBanner EstiloBanner"
                        "EstiloG1     EstiloG2     EstiloG3"
      }

      .EstiloBanner{
        background-color: lightcyan;
        grid-area: EstiloBanner;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
      }
      
      .EstiloG1{
          background-color: rgb(167, 145, 183);
          grid-area: EstiloG1;
          text-align: center;
          display: flex;
          align-items: center;
          justify-content: center;
      }

      .EstiloG2{
          grid-area: EstiloG2;
          justify-content: center;
          align-items:center;
          margin-top: 5vh;
      }

      .EstiloG3{
          background-color: rgb(50, 175, 181);
          grid-area: EstiloG3;
          text-align: center;
          display: flex;
          align-items: center;
          justify-content: center;
      }

      @media only screen and (max-width: 785px) {
        .EstiloGrillaUno{
          display:grid;
          grid-template-columns: 50vw 50vw;
          grid-template-rows: 40vw 60vw 50vw;
          margin-top: 20px;
          margin-bottom: 20px;
          grid-template-areas: 
                          "EstiloBanner EstiloBanner"
                          "EstiloG2     EstiloG2"    
                          "EstiloG1     EstiloG3"
        }
      }

    .ImagenBanner{
        width: 100vw;
        height: auto;
        overflow: hidden;
    }

    .ImagenChiquita{
        width: 35vw;
        height: auto;
        overflow: hidden;
    }

    .LetrasSubmenú{
        font-family:'Josefin Sans', sans-serif ;
        color:rgb(50, 175, 181);
        font-size:25px;
        text-align: center;
        margin-top: 50px;
        margin-left:30px;
        margin-right:30px;
        margin-bottom:10px;
    }

    .FooterComentarios{
        background-color: rgb(139, 17, 84);
        margin-bottom: 20px;
        margin-top: 30px;
        width: 100%;
        height: 20vh;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
      }

      .EstiloLetraFooters{
        font-size: 30px;
        font-family:'Josefin Sans', sans-serif;
        color:rgb(255, 255, 255);
      }

    /* SubMenú2, Galería gatos */

    /*La mayoría está editado en SASS*/

    @media only screen and (max-width: 785px) {
        .EstiloP{
            display:grid;
            grid-template-columns: 50vw 50vw;
            grid-template-rows: 40vw 60vw 50vw;
            margin-top: 20px;
            margin-bottom: 20px;
            grid-template-areas: 
                    "EstiloPBanner EstiloPBanner"
                    "EstiloP2      EstiloP2"    
                    "EstiloP1      EstiloP3"
          }
      }